/* Get Fonts */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 2rem;
    line-height: 1.4;
    font-family: "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
  Author's custom styles
  Mobile First
========================================================================== */

.btn_content {
  margin-bottom: 5%;
  text-align: center;
}

.btn_content .col-xs-2 .fa {
  font-size: 3rem;
}

.btn_content a {
  display: inline-block;
  height: 40px;
  margin: 0 0;
  padding: 0 0;
  text-align: center;
  text-decoration: none;
  width: 40px;
}

.btn_footer {
  background:#F5F5F5;
  bottom: 0;
  height: 80px;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  position: fixed;
  width: 100%;
}

.copyright {
  text-align: center;
  vertical-align: middle;
}

.footer {
  bottom: 0;
  height: 30px;
  margin: 0;
  position: fixed;
  width: 100%;
}

.footer p {
  display: inline-block;
  font-size: xx-small;
  margin-top: 0;
  width: 49%;
}

.footer .container {
  background-color: #f5f5f5;
  padding-left: 10px;
  padding-right: 10px;
}

.fullscreen-bg {
  display: none;
}

.fullscreen-bg__video {
  display: none;
}

.gallery {
  color: #000;
  padding: 2rem 0;
}

.gallery h1 {
  text-align: center;
}

.logo {
 background: url("../img/PIVOT4D_LOGO.png") no-repeat;
 background-size: contain;
 display: inline-block;
 margin-top: 2rem;
 height: 50px;
 width: 150px;
}

.main-header {
  background: #0B2E40;
  background: rgba(11, 46, 64, 0.8);
  padding: 0.5rem;
  text-align: center;
}

.nav.navbar-nav li a {
  color: #fff;
}

.nav.navbar-nav li a:hover,
.nav.navbar-nav li a:focus {
  background-color: #f3450d;
}

.be_the_director_btn {
  background-image: url("../img/be_the_director.png");
  background-repeat: no-repeat;
  background-size: 40px;
}

.be_the_director_btn:hover {
  background-image: url("../img/be_the_director_ICONO_ACTIVO-min.png");
}

.content_management_btn {
  background-image: url("../img/content_management.png");
  background-repeat: no-repeat;
  background-size: 40px;
}

.content_management_btn:hover {
  background-image: url("../img/content_management_ICONO_ACTIVO-min.png");
}

.just_share_btn {
  background-image: url("../img/just_share.png");
  background-repeat: no-repeat;
  background-size: 40px;
}

.just_share_btn:hover {
  background-image: url("../img/just_share_ICONO_ACTIVO-min.png");
}

.multiple_users_btn {
  background-image: url("../img/n_users.png");
  background-repeat: no-repeat;
  background-size: 40px;
}

.multiple_users_btn:hover {
  background-image: url("../img/multiple_users_ICONO_ACTIVO-min.png");
}

.portfolio_btn {
  background-image: url("../img/portfolio.png");
  background-repeat: no-repeat;
  background-size: 40px;
}

.portfolio_btn:hover {
  background-image: url("../img/portfolio_on_the_go_ICONO_ACTIVO-min.png");
}

.support_btn {
  background-image: url("../img/support_btn.png");
  background-repeat: no-repeat;
  background-size: 40px;
}

.support_btn:hover {
  background-image:url("../img/support_ICONO_ACTIVO-min.png");
}

.gallery {
  margin-bottom: 150px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Text Center */
.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

.padding-bottom-10 {
  padding-bottom: 10%;
}

.font-size-1_7rem {
  font-size: 1.7rem;
}

.font-size-10rem {
  font-size: 10rem;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hide-on-mobile {
  display: none;
  visibility: hidden;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


/**
  * set float to none
**/

.float-none {
  float: none;
}

/**
  * vertical-align-middle
**/
.vertical-align-middle {
  vertical-align: middle;
}

.width-100 {
  width: 100%;
}

.width-150 {
  width: 100%;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports that meet the condition */
  body {
    font-size: 1.5rem;
    /* Margin bottom by footer height */
    margin-bottom: 100px;
  }

  html {
    max-width: 100%;
    overflow-x: hidden;
  }

  .btn_content a {
    background-size: 58px;
    height: 60px;
    margin: 0 12px;
    width: 60px;
  }

  .btn_content {
    padding-left: 15%;
    padding-right: 15%;
  }

  .btn_footer {
    background: transparent;
    height: 150px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0;
  }

  /**
    * display handy classes
  **/

  .display-table {
    display: table;
  }

  .display-table-cell {
    display: table-cell;
  }

  .gallery {
    color: #fff;
    font-size: 2rem;
    position: relative;
  }

  .gallery h1 {
    font-size: 3rem;
  }

  .hide-on-mobile {
    display: block;
    visibility: visible;
  }

  ng-view.view-animate.color-black {
    color: #000;
  }

  .footer {
    background-color: #f5f5f5;
    height: 100px;
  }

  .footer p {
    display: block;
    font-size: inherit;
    margin-top: 1rem;
    width: 100%;
  }

  .footer .container {
    background-color: #f5f5f5;
    padding-left: 15px;
    padding-right: 15px;
  }

  .fullscreen-bg {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    pointer-events: none;
    right: 0;
    top: 0;
    z-index: -100;
  }

  .fullscreen-bg__video {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .navbar-nav {
    display: inline-table;
  }

  .view-animate {
    padding-left: 15%;
    padding-right: 15%;
  }

  /* ng-view slide animation */
  .view-animate {
    left: 0;
    position: absolute;
    top: 0;
    margin-bottom: 150px;
  }

  .view-animate.ng-enter {
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;
  }

  .view-animate.ng-leave {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
    -moz-animation:slideOutLeft 0.5s both ease-in;
    animation:slideOutLeft 0.5s both ease-in;
  }

  /* slide in from the right */
  @keyframes slideInRight {
    from  { transform:translateX(100%); }
    to    { transform: translateX(0); }
  }
  @-moz-keyframes slideInRight {
    from  { -moz-transform:translateX(100%); }
    to    { -moz-transform: translateX(0); }
  }
  @-webkit-keyframes slideInRight {
    from  { -webkit-transform:translateX(100%); }
    to    { -webkit-transform: translateX(0); }
  }

  /* slide in from the bottom */
  @keyframes slideOutLeft {
    to    { transform: translateX(-100%); }
  }
  @-moz-keyframes slideOutLeft {
    to    { -moz-transform: translateX(-100%); }
  }
  @-webkit-keyframes slideOutLeft {
    to    { -webkit-transform: translateX(-100%); }
  }

  .width-150 {
    width: 150%;
  }

  .width-200 {
    width: 200%;
  }

  .width-200 .message {
    display: inline-block;
    min-width: 280px;
  }

}

@media only screen and (min-width: 1024px) {
  .fullscreen-bg__video {
    left: 0%;
    width: 130%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: auto;
    top: 0%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    left: -60%;
    width: 250%;
  }
}

@media (max-aspect-ratio: 16/9) and (min-width: 1500px) {
  .fullscreen-bg__video {
    left: -10%;
    width: 110%;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
