<h1>At Your service</h1>
<div>
	<div class="row display-table">
		<div class="col-xs-2 float-none clearfix display-table-cell vertical-align-middle text-center">
			<p>
				<img src="img/market_approach.png" alt="Market Approach">
			</p>
		</div>
		<div class="col-xs-10 float-none clearfix display-table-cell vertical-align-middle">
		  <p><strong>Market approach</strong> Where do you want to go? What effect are you trying to accomplish. Every project deserves a clear concept, therefore a clear aim. At Pivot4D we do our homework researching the market and developing a strategy, and most important... to act on it!.</p>
		</div>
	</div>
	<div class="row display-table">
		<div class="col-xs-2 float-none clearfix display-table-cell vertical-align-middle text-center">
			<p>
				<img src="img/storyboarding.png" alt="Market Approach">
			</p>
		</div>
		<div class="col-xs-10 float-none clearfix display-table-cell vertical-align-middle">
		  <p><strong>Storyboarding</strong> Storyboards, in essence, relay both visually and through text, what all parties need to know to lift a vision from the page and bring it to life. Every storyboard should capture these important elements to work effectively: Content, style, visuals and navigation, narration, graphic design requirements</p>
		</div>
	</div>
	<div class="row display-table">
		<div class="col-xs-2 float-none clearfix display-table-cell vertical-align-middle text-center">
			<p>
				<img src="img/3dassets.png" alt="Market Approach">
			</p>
		</div>
		<div class="col-xs-10 float-none clearfix display-table-cell vertical-align-middle">
		  <p><strong>2D/3D Modeling</strong> Whether the project will require 2d Graphic elements or 3D assets we can do it. We are proud to have a team with a wealth of industry experience in the arena, we will build all necessary assets for your projects without breaking a sweat.</p>
		</div>
	</div>
	<div class="row display-table">
		<div class="col-xs-2 float-none clearfix display-table-cell vertical-align-middle text-center">
			<p>
				<img src="img/deployment.png" alt="Market Approach">
			</p>
		</div>
		<div class="col-xs-10 float-none clearfix display-table-cell vertical-align-middle">
		  <p><strong>Deployment</strong> Let's show your project to the world! We provide tools to share your web-based project in a matter of seconds. Embed your project on your own website or share via email with a unique URL.</p>
		</div>
	</div>
</div>
