<h1>Be the Director</h1>
<div>
  <div class="row">
  	<div class="col-lg-6 text-center">
			<p>Pivot4D lets you place your own content on the planet like no other application! Our Media Tour provides an easy way create tours in Google Earth allowing you to insert your own 3D models, audio recordings, music, video, photo images and more.</p>
  	</div>
  	<div class="col-lg-6">
  		<p>
  			<img class="width-100" src="img/be_the_director_slide_image.png" alt="Content Manager">
  		</p>
  	</div>
  </div>
</div>
