<h1>Be the Director</h1>
<div>
  <div class="row display-table">
  	<div class="col-sm-6 col-sm-push-6 float-none clearfix display-table-cell">
  		<p>
  			<img class="width-150" src="img/be_the_director_slide_image.png" alt="Be the Director">
  		</p>
  	</div>
    <div class="col-sm-6 col-sm-pull-6 float-none clearfix display-table-cell vertical-align-middle padding-bottom-10">
      <p class="font-size-1_4rem">Pivot4D lets you place your own content on the planet like no other application!<br>Our Media Tour provides an easy way create tours in Google Earth allowing you to insert your own 3D models, audio recordings, music, video, photo images and more.</p>
    </div>
  </div>
</div>
