<h1>Content Management</h1>
<div>
  <div class="row display-table">
    <div class="col-lg-7 float-none clearfix display-table-cell vertical-align-middle padding-bottom-10">
      <p class="font-size-1_4rem">Pivot4D provides an effective and easy to use content management tool. This provides for you to upload and download your content anytime from anywhere. Your content is stored and backed up through our cloud based servers. Media content includes, photo and static images, movies, audio files, graphics and 360 degree panoramas.</p>
  	</div>
    <div class="col-lg-5 float-none clearfix display-table-cell">
      <p>
        <img class="width-150" src="img/content_manager.png" alt="Content Manager">
  		</p>
  	</div>
  </div>
</div>
