<h1>Just Share!</h1>
<div>
  <div class="row">
  	<div class="col-lg-12 text-center">
			<p>Sharing projects in Pivot4D is easy. You control the users access and duration of time your audience has access to view any of your presentations. Share your content via the Pivot4D email tool. Users receive a unique URL address generated and sent via email through Pivot4D.</p>
  	</div>
  	<div class="col-lg-12">
  		<p class="text-center">
  			<img class="width-100" src="img/share_BIG_icon.png" alt="Content Manager">
  		</p>
  	</div>
  </div>
</div>
