<h1>Multiple Users</h1>
<div>
  <div class="row display-table">
    <div class="col-lg-7 float-none clearfix display-table-cell vertical-align-middle padding-bottom-10">
      <p class="font-size-1_4rem">With the Enterprise Account you will be able to create multiple users without limits. We provide an easy way to assign projects on a per user bases.</p>
  	</div>
    <div class="col-lg-5 float-none clearfix display-table-cell">
      <p>
        <img class="width-150" src="img/multiple_users_slide_image.png" alt="Multiple Users">
  		</p>
  	</div>
  </div>
</div>
