<h1>Portafolio on the Go!</h1>
<div>
  <div class="row display-table">
    <div class="col-sm-6 col-sm-push-6 float-none clearfix display-table-cell">
      <p>
        <img class="width-150" src="img/portfolio_on_the_go.png" alt="Portafolio on the Go">
  		</p>
  	</div>
    <div class="col-sm-6 col-sm-pull-6 float-none clearfix display-table-cell vertical-align-middle padding-bottom-10">
      <p class="font-size-1_4rem">Multiple ideas on your mind?...no problem, we will give you access to your projects anywhere you go, no need to have anything stored on your computer, all your 3d presentations will follow you!.</p>
    </div>
  </div>
</div>
